@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

  /* Box sizing and border defaults */
  :where(*, *::before, *::after) {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    min-width: 0;
  }

  /* Core root defaults */
  :where(html) {
    block-size: 100%;
    text-size-adjust: none;
    interpolate-size: allow-keywords;
  }

  :where(body) {
    min-block-size: 100vh;
    line-height: 1.5;
    margin: 0;
    -webkit-font-smoothing: antialiased;
  }

  /* Typography improvements */
  :where(h1, h2, h3, h4, h5, h6) {
    text-wrap: balance;
    font-weight: bold;
    margin-block: 0;
  }
  p{
    margin: 0;
    padding: 0;
  }

  :where(p) {
    text-wrap: pretty;
    margin-block-end: 1em;
  }

  /* Media handling */
  :where(img, svg, video, canvas) {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
  }

  /* Form control modernization */
  :where(input, textarea, select, button) {
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    color: currentColor;
  }

  :where(textarea, select, input) {
    field-sizing: content;
  }

  :where(select) {
    appearance: base-select;
  }

  /* Accessibility */
  :where(:focus-visible) {
    outline: 2px solid canvasText;
    outline-offset: 2px;
  }

  @media (prefers-reduced-motion: reduce) {
    *, *::before, *::after {
      animation-duration: 0.01ms!important;
      transition-duration: 0.01ms!important;
    }
  }


body{
    background-color: #2854FE;
    color: #fff;
    width: 100%;
    min-height: 100vh;
    font-family: 'Inter';
    display: grid;
    grid-template-rows: auto 1fr auto;
}


.header-container{
    width: 100%;
    border-bottom: 1px solid #C1CEFF;
    padding: 24px 48px;
    display: flex;
    justify-content: space-between;
}

.menu-icon{
    background: transparent;
    border: none;
}

.company-name{
    position: relative;
}

.company-name::before{
    height:8px;
    width: 8px;
    border-radius: 8px;
    background-color: #fff;
    content: " ";
    position: relative;
    left: -5px;
    top: -2px;
    display: inline-block;
}

.main-grid{
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    height: 100%;
}

.stats-grid-inner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 3rem;
    gap: 2.5rem;
    border: 1px solid #C1CEFF;
    border-left: none;
    border-top: none;
}

.hero-heading{
    font-size: clamp(2.75rem, 2.266rem + 2.065vw, 3.75rem);
    max-width: 397px;
    font-weight: 500;
    line-height: 106%; /* 63.6px */
    letter-spacing: -2px;
}

.hero-text{
    max-width: 397px;
    font-size: 1.125rem;
    font-weight: 400;
line-height: 165%
}

.stats-card{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #C1CEFF;
}

.card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card-heading{
    font-size: 2.5rem;

}

.card-text{
    display: flex;
    flex-direction: column;
    font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 142%; /* 19.88px */
letter-spacing: -0.25px;
}

span{
    font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: 165%; 
}

footer{
    width: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

/* Tablet */

@media (max-width: 1150px){
    .main-grid{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    
}

@media (max-width: 765px) {
    .main-grid{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        min-block-size: auto;
        border: none;
        height: auto;
    }
    .hero{
        padding: 3.5rem 2rem;
        border: none;
    }
        .stats-grid-inner{
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }
        .stats-card{
            min-block-size: clamp(18.75rem, 8.568rem + 50.909vw, 20.5rem);
            padding: 1.5rem;
            border: none;
            border-top: 1px solid #C1CEFF;
        }

        .last-card{
            border-bottom: 1px solid #C1CEFF;
        }

        .footer-container{
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

.hidden{
    display: none;
}

.primary-nav{
    position: absolute;
    width: 675px;
    background-color: #2854FE;
    height: 100%;
    display: block;
    right: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 3rem;
    top: 75px;
}

.menu-links-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    align-items: flex-end;
}

.nav-link{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    line-height: 160%; /* 51.2px */
    letter-spacing: -2px;
    text-align: right;
}
